@if (steps == 1) {
    <!-- Send Email -->
<section class="w-1/2 mx-auto bg-gray-400 p-6 rounded-md shadow drop-shadow-lg">
    <h1 class="text-3xl font-normal text-center text-green-800">Reset Password</h1>
    <form [formGroup]="sendEmail" (ngSubmit)="submitEmail()">

        <div class="mb-2">
            <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input formControlName="email" type="email" id="Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
@if (this.sendEmail.get('email')?.errors && this.sendEmail.get('email')) {
<div class="bg-red-300 border-red-700 rounded-md text-red-800">
<p *ngIf="this.sendEmail.get('email')?.errors?.['required']">Email is Required</p>
<p *ngIf="this.sendEmail.get('email')?.errors?.['email']">Enter Valid Email</p>
</div>

}
        </div>
        <button  type="submit" class=" btn-main">Send Email</button>


    </form>
</section>
}

@if (steps == 2 ) {
    <!-- Verify Code  -->
    <section class="w-1/2 mx-auto bg-gray-400 p-6 rounded-md shadow drop-shadow-lg">
        <h1 class="text-3xl font-normal text-center text-green-800">Reset Password</h1>
        <form [formGroup]="verifyCode" (ngSubmit)="submitCode()">
    
            <div class="mb-2">
                <label for="ResetCode" class="block mb-2 text-sm font-medium text-gray-900 ">Code</label>
                <input formControlName="resetCode"  type="text" id="resetCode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
                @if (this.verifyCode.get('resetCode')?.errors && this.verifyCode.get('resetCode')) {
                    <div class="bg-red-300 border-red-700 rounded-md text-red-800">
                    <p *ngIf="this.verifyCode.get('re')?.errors?.['required']">resetCode is Required</p>
                    <p *ngIf="this.verifyCode.get('resetCode')?.errors?.['pattern']">Enter Valid Reset Code</p>
                    </div>
                    
                    }
            </div>
            <button  type="submit" class=" btn-main">Send Code</button>
    
    
        </form>
    </section>
}

@if (steps == 3) {
    <!-- Reset Password -->
<section class="w-1/2 mx-auto bg-gray-400 p-6 rounded-md shadow drop-shadow-lg">
    <h1 class="text-3xl font-normal text-center text-green-800">Reset Password</h1>
    <form [formGroup]="resetPassword" (ngSubmit)="submitPassword()">

        <div class="mb-2">
            <label for="user_Email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input formControlName="email"  type="text" id="user_Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            @if (this.resetPassword.get('email')?.errors && this.resetPassword.get('email')) {
                <div class="bg-red-300 border-red-700 rounded-md text-red-800">
                <p *ngIf="this.resetPassword.get('email')?.errors?.['required']">Email is Required</p>
                <p *ngIf="this.resetPassword.get('email')?.errors?.['email']">Enter Valid Email</p>
                </div>
                
                }
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">New Password</label>
            <input formControlName="newPassword"  type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            @if (this.resetPassword.get('newPassword')?.errors && this.resetPassword.get('newPassword')) {
                <div class="bg-red-300 border-red-700 rounded-md text-red-800">
                <p *ngIf="this.resetPassword.get('newPassword')?.errors?.['required']">newPassword is Required</p>
                </div>
                
                }
        </div>
        <button  type="submit" class=" btn-main">Reset Password</button>


    </form>
</section>
}
