<section class="w-1/2 mx-auto bg-gray-400 p-6 rounded-md shadow drop-shadow-lg">
    <h1 class="text-3xl font-normal text-center text-green-800">Log in</h1>


    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">



        <div class="mb-2">
            @let emailControl = loginForm.get('email');
            <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input formControlName="email" type="text" id="Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            @if (emailControl?.errors  && emailControl?.touched) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-0.5 list-none list-inside">
                 @if (emailControl?.getError('required')) {
                    <li>Email Is Required</li>
                 }
                 @else if (emailControl?.getError('email')) {
                    <li>Please Enter A Valid Email</li>
                 }
                      </ul>
                    </div>
                  </div>
            }
        </div>

        <div class="mb-2">
            @let passwordControl = loginForm.get('password');
            <label for="Password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
            <input formControlName="password" type="Password" id="Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            @if (passwordControl?.errors  && passwordControl?.touched) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-0.5 list-none list-inside">
                 @if (passwordControl?.getError('required')) {
                    <li>Password Is Required</li>
                 }
                 @else if (passwordControl?.getError('pattern')) {
                    <li>Please Enter A Valid password</li>
                 }
                      </ul>
                      
                    </div>
                  </div>
            }
        </div>

   <div class="flex justify-between items-center">

    <button [disabled]="isLoading" type="submit" class=" btn-main">Sign In
@if (isLoading) {

<span><i class="fas fa-spin fa-spinner"></i></span>
}
    </button>
    <a class="text-green-800" routerLink="/resetPassword" type="button" >Forgot Password?</a>
   </div>
        
@if (errorMsg) {
    <p class=" text-red-600 "> {{errorMsg}} </p>
}

    </form>
</section>

