<section class="w-1/2 mx-auto bg-gray-400 p-6 rounded-md shadow drop-shadow-lg">
    <h1 class="text-3xl font-normal text-center text-green-800">Register Now</h1>


    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

        <div class="mb-2">
            @let nameControl = registerForm.get('name');
            <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 ">Name</label>
            <input formControlName="name" type="text" id="Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            
@if (nameControl?.errors && nameControl?.touched) {

    <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 mt-2" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <ul class=" mt-0.5 list-none list-inside">
@if (nameControl?.getError('required')) {
    <li>Name Is Required</li>
}

@else if (nameControl?.getError('minlength')) {
    <li>Name Should Be More Than Or Equal To 3 Chars</li>
}

@else if (nameControl?.getError('maxlength')) {
    <li>Name Should Be Less Than Or Equal To 20 Chars</li>
}



          </ul>
        </div>
      </div>
}

        </div>

        <div class="mb-2">
            @let emailControl = registerForm.get('email');
            <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
            <input formControlName="email" type="text" id="Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            @if (emailControl?.errors  && emailControl?.touched) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-0.5 list-none list-inside">
                 @if (emailControl?.getError('required')) {
                    <li>Email Is Required</li>
                 }
                 @else if (emailControl?.getError('email')) {
                    <li>Please Enter A Valid Email</li>
                 }
                      </ul>
                    </div>
                  </div>
            }
        </div>

        <div class="mb-2">
            @let passwordControl = registerForm.get('password');
            <label for="Password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
            <input formControlName="password" type="Password" id="Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            @if (passwordControl?.errors  && passwordControl?.touched) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-0.5 list-none list-inside">
                 @if (passwordControl?.getError('required')) {
                    <li>Password Is Required</li>
                 }
                 @else if (passwordControl?.getError('pattern')) {
                    <li>Please Enter A Valid password</li>
                 }
                      </ul>
                    </div>
                  </div>
            }
        </div>

        <div class="mb-2">
            <label for="RePassword" class="block mb-2 text-sm font-medium text-gray-900 ">RePassword</label>
            <input formControlName="rePassword" type="Password" id="RePassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
@if (registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched) {
    
    <div class="flex items-center p-4 mb-1 mt-1 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <ul class="mt-0.5 list-none list-inside">
              <li>Passwords Doesn't Match</li>
          </ul>
        </div>
      </div>
}

@if (registerForm.get('rePassword')?.getError('required') && registerForm.get('rePassword')?.touched) {

    <div class="flex items-center mt-0 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
            <ul class="mt-0.5 list-none list-inside">
              <li>RePassword Is Required</li>
          </ul>
        </div>
      </div>
}
        </div>

        <div class="mb-2">
            @let phoneControl = registerForm.get('phone');
            <label for="Phone" class="block mb-2 text-sm font-medium text-gray-900 ">Phone</label>
            <input formControlName="phone" type="tel" id="Phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 ">
            @if (phoneControl?.errors  && phoneControl?.touched) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-0.5 list-none list-inside">
                 @if (phoneControl?.getError('required')) {
                    <li>Phone Number Is Required</li>
                 }
                 @else if (phoneControl?.getError('pattern')) {
                    <li>Please Enter A Valid Phone Number</li>
                 }
                      </ul>
                    </div>
                  </div>
            }
        </div>

        <button [disabled]="isLoading" type="submit" class=" btn-main">Sign Up
@if (isLoading) {
    
    <span><i class="fas fa-spin fa-spinner"></i></span>
}
        </button>
@if (errorMsg) {
    <p class=" text-red-600 "> {{errorMsg}} </p>
}
@if (success) {
    <p class="p-3 bg-green-600 text-white rounded-md mt-2">Account Successfully Created!</p>
}
    </form>
</section>

