<footer class="bg-gray-400 py-5">
<div class="w-4/5  mx-auto">
   <h2 class="text-stone-50 mb-2 ">Get the FreshCart app</h2> 
   <p class="text-stone-900 opacity-50 mb-2">We will send you a link, open it on your phone to download the app</p>
   <div class="flex content-between">
    <input type="text" placeholder="E-mail" class="w-3/4 rounded-md py-1">
    <button class="bg-lime-500 w-1/5 ms-auto border-transparent rounded-md text-white py-1">Share App Link</button>
</div>
</div>
<div class="border-b-1 pb-4 border-gray-400 shadow-lg"></div>
<div class="w-4/5  mx-auto flex items-center justify-between">
<div class="flex   gap-2 pt-4 items-center">
    <h3 class="text-sm m-0 text-white">Payment Partners</h3>
    <img width="50px"  src="/images/amazon-pay.png" alt="Amazon pay logo">
    <img width="50px" src="/images/American-Express-Color.png" alt="american expresslogo">
    <img width="50px" src="/images/mastercard.webp" alt="mastercard logo">
    <img width="50px" src="/images/paypal.png" alt="paypal logo">
</div>
<div class="flex  gap-2 pt-4 items-center ">
    <h3 class="text-sm text-white">Get Deliveries With FreshCart</h3>
    <img width="100px" src="/images/get-apple-store.png" alt="">
    <img width="110px" src="/images/get-google-play.png" alt="">
</div>
</div>
<div class="border-b-1 pb-1 border-gray-400 shadow-lg"></div>
</footer>